:root {
    --window-width-links: 300px;
    --window-height-links: 100px;
  }

.window-box-links{
    width: var(--window-width-links);
    height: var(--window-height-links);
    position: absolute;
    background-color: var(--header-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 3px 3px 0px #b3b3b3;
}

.window-header-links{
  touch-action: none;

  width: var(--window-width-links);
  height: 40px;
  background-color: var(--header-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  cursor: grab;
  font-size: 2rem;
  user-select: none;
}

.window-content-links{
  width: calc(var(--window-width-links) - 20px);
  height: calc(var(--window-height-links) - 20px);
  background-color: var(--window-color);
  box-shadow: inset 0 0 0 3px var(--header-color), 
    3px 3px 0px #b3b3b3;
  border-radius: 12px;
  display: block;
  justify-content: center;
  padding: 10px;
   display: flex;
  justify-content: center; 
  align-items: center;
  gap: 10px; 
}

.close-button-links {
    position: absolute; 
    top: .5%; 
    right: 1%;
    background: transparent; 
    border: none; 
    color: white; 
    font-size: 15px; 
    border-radius: 5px;
    cursor: pointer; 
  }




/*
@media (max-width:1300px){
  .window-box-links{
      width: 700px;
      height: 450px;
  }
  .window-header-links{
      width: 700px;
  }
  .window-content-links{
      width: 680px;
      height: 450px;
  }
}
*/