:root {
    --window-width-links: 300px;
    --window-height-links: 100px;
  }

.window-box-links{
    width: var(--window-width-links);
    height: var(--window-height-links);
    position: absolute;
    background-color: #4f46e5;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.window-header-links{
  touch-action: none;

  width: var(--window-width-links);
  height: 40px;
  background-color: #4f46e5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  cursor: grab;
  font-size: 2rem;
  user-select: none;
}

.window-content-links{
width: calc(var(--window-width-links) - 20px);
height: calc(var(--window-height-links) - 20px);
  background-color: antiquewhite;
  box-shadow: inset 0 0 0 3px blue;
  border-radius: 12px;
  display: block;
  justify-content: center;
  padding: 10px;
}

.close-button-links {
    position: absolute; /* Position the button on top of the header */
    top: .5%; /* Adjust to position it from the top */
    right: 1%; /* Adjust to position it from the right */
    background: transparent; /* Make background transparent */
    border: none; /* Remove border */
    color: white; /* Set button color */
    font-size: 15px; /* Adjust button size */
    border-radius: 5px;
    cursor: pointer; /* Make it a pointer cursor on hover */
  }




/*
@media (max-width:1300px){
  .window-box-links{
      width: 700px;
      height: 450px;
  }
  .window-header-links{
      width: 700px;
  }
  .window-content-links{
      width: 680px;
      height: 450px;
  }
}
*/