.window-box-MP{
    width: 950px;
    height: 700px;
    position: absolute;
    background-color: var(--header-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 3px 3px 0px #b3b3b3;
}

.window-header-MP{
  touch-action: none;

  width: 950px;
  height: 40px;
  background-color: var(--header-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  cursor: grab;
  font-size: 2rem;
  user-select: none;
}



.window-content-MP{
  width: 930px;
  height: 680px;
  background-color: var(--window-color);
  box-shadow: inset 0 0 0 3px var(--header-color),
    3px 3px 0px #b3b3b3;
  border-radius: 12px;
  display: block;
  justify-content: center;
  padding: 10px;
  
}

.window-content-MP .scroll{
  width: 100%;
  height: 50%;
  overflow-y: auto;
}

.close-button-MP {
  position: absolute; 
  top: .5%; 
  right: 1%; 
  background: transparent; 
  border: none; 
  color: white; 
  font-size: 15px; 
  border-radius: 5px;
  cursor: pointer; 
}

.button-pannel-mainpage{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.button-pannel-mainpage .fa-solid{
  text-shadow: 3px 3px 0px #b3b3b3;
}




@media (max-width:1300px){
  /* MAIN PAGE*/
  .window-box-MP{
      width: 700px;
      height: 450px;
  }
  .window-header-MP{
      width: 700px;
  }
  .window-content-MP{
      width: 680px;
      height: 450px;
  }
}
  